* {
  margin: o;
  padding: 0;
  box-sizing: border-box; }

/*-------HEADER/NAV----*/
.fondoheader {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }

img {
  width: 250px;
  height: 150px;
  display: flex;
  text-align: center; }

nav ul {
  display: flex; }

ul.acorh {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  ul.acorhul.acorh li {
    list-style: none;
    margin: none; }
  ul.acorhul.acorh a {
    display: block;
    padding: 10px 10px 10px 20px;
    background: #b37ad8;
    color: #0B1828;
    border-bottom: 1px solid #F7EDD2;
    border-top: 1px solid;
    text-decoration: none;
    box-sizing: border-box; }
  ul.acorhul.acorh ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in; }
  ul.acorhul.acorhli a {
    padding: 10px 10px 10px 40px;
    background: #9BC0B9;
    color: #000;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box; }
  ul.acorhul.acorhli:last-child a {
    border-bottom: 0; }
  ul.acorhul.acorhli:target ul {
    max-height: 300px;
    transition: .3s all ease-in; }
  ul.acorhul.acorhli:target:hover {
    background: #dbec40;
    color: #fff; }

/*------MAIN/BOBY------*/
@font-face {
  font-family: caviar;
  src: url("../fonts/CaviarDreams.ttf"); }

body {
  background-color: white;
  font-family: caviar;
  width: 70%;
  background-color: #ffffff; }
  body .container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%; }
  body .search {
    display: flex;
    align-items: flex end; }
  body .search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -20px;
    right: 5px;
    color: #dbec40; }
  body .search-container {
    width: 300px;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end; }
  body input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #dbec40;
    outline: none; }
  body .encabezadocentro {
    display: flex;
    text-align: center;
    box-sizing: border-box; }
  body .grid-contenedor {
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 70% 70% 70% 70%;
    grid-column-gap: 50% 50% 50% 50%;
    grid-row-gap: 50% 50% 50% 50%;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
    box-sizing: border-box;
    width: 100%;
    height: auto; }
  body .grid-parrafo {
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50% 50% 50%;
    grid-column-gap: 50px;
    margin-left: 30px;
    margin-inline-end: 30px;
    box-sizing: border-box;
    width: 100%;
    height: auto; }
  body .hijo {
    width: 100px;
    height: 100px; }
  body .container {
    background-color: #ffffff;
    width: 100%; }
  body .margen {
    margin-bottom: 15px;
    padding-left: 20px; }
    body .margen .margen-lentes {
      margin-bottom: 100px;
      padding-left: 20px; }
  body .top {
    margin-bottom: 20px; }
  body .formato {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 10px 10px 10px 40px;
    background: #b37ad8;
    color: #000;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box; }
  body .novypromo {
    padding-top: 60px;
    margin-top: 150px;
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff; }
  body .noveyofer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; }
  body .css-boton {
    display: inline-block;
    background-color: #dbec40;
    padding: .60em 5em;
    color: #444;
    font-family: inherit;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #999;
    border: transparent;
    border-radius: 2px;
    margin-top: .10em;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    margin-bottom: 50px; }

/*------FOOTER------*/
.footer {
  background: #b37ad8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 50px;
  width: 100%;
  height: 200px;
  padding: auto; }

/*------------MEDIA QUERIES-----------*/
/*------------Dispositivos Mobiles---------*/
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: #ffffff; }
  .contenedor {
    background-color: #ffffff; } }

/*-----OTRAS PANTALLAS------*/
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px; } }

/* ----------- Galaxy Tab 2 ----------- */
/* Portrait and Landscape */
@media (min-device-width: 800px) and (max-device-width: 1280px) {
  body {
    background-color: #dbec40;
    width: 100; } }

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) {
  body {
    background-color: #dbec40;
    width: 100; } }

/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) {
  body {
    background-color: #dbec40;
    width: 100; } }

/* ----------- Galaxy Tab S ----------- */
/* Portrait and Landscape */
@media (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: #dbec40;
    width: 100; } }

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: #dbec40;
    width: 100; } }

/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: #ffffff;
    width: 100; } }

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    background-color: #ffffff;
    width: 100%; }
  .row {
    background-color: white; } }

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body {
    background-color: #ffffff;
    width: 100%; } }

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    background-color: #ffffff; } }
